*{
    box-sizing: border-box;
}
*{padding:0px;
}
*{margin:0px;
}

/**{
    border:1px solid orangered !important;
}*/


    


.opciones__entrega{
    font-family:'Raleway', sans-serif;
    color: #E97E5A;
    font-size: 25px;
    width: 100%;
    margin: 10px;
    padding:  0 15px;
}
.container__1{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px #E4D5B9;
    padding: 15px;
    background-color:rgb(228, 213, 185,0.3);

}

.container__1 h1{
    display: flex;
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    color: #36465d;
}
.detalle__compra{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    margin-bottom: 20px;
    padding: 0 10px;
    
}    
.container__1 a{
    display: flex;
    font-family:'Raleway', sans-serif;
    color: #36465d;
}
.container__2{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    background-color:rgb(228, 213, 185,0.3);
    justify-content: space-between;
}

.detalle_producto{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;

}
.descripcion{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;
    justify-content: space-between;
}
.descripcion p{
    padding:0px 10px;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;

}
.precio{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;
    justify-content: space-between;
}
.precio p{
    padding:0px 15px;
    align-self: center;
    text-align: center;

}
.cantidad{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
}

.cantidad input{
    padding:0px 50px;
    align-self: center;
    height: 25px;
    width: min-content;
}
.subtotal{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
}

.total{
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
    align-items: center;

}
.total p{
        color:#3f88a2;
        font-weight: bold;
}
.subtotal p{
    padding:0px 10px;
    align-self: center;
}

.detalle__pago{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    width: 20%;
    padding: 0 10px;
    align-items: center;
   
}

.menu_2 a:hover{
    background:#E4D5B9;
    transform: scale(1.1);
    border:1px solid #E97E5A ;
}

  

 
.detalle__Producto img{
    width: 100%;
}

.container__3{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    background-color:rgb(228, 213, 185,0.3);
    justify-content: space-between;
   

}
.container__3 h2{
    padding: 0 10px;
}  
.container__3 h3{
    padding: 0 10px;
    display: flexbox;
    font-weight: lighter;
}    

.resumen_de_pago{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.codigo__promocion{
    display: flex;
    align-items: center;
}
.codigo__promocion input{
    height: 20px;
    margin-left:8px;
    
}
.codigo__promo{
    display: flex;
}

.container__4{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    background-color:rgb(228, 213, 185,0.3);
}
.container__4 h2{
    padding: 0 10px;
  

}
.container__4 p{
     padding:0px 10px;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    font-weight: bold;
  
    
}
.transferencia{

 padding-top: 10px;
    align-items: center;
}
.mercado__pago{
    display: flex;
    align-items: center;
}


.pagar{
    color: #36465d;
     padding:0px 10px;
    color: #36465d;
    background: rgb(51, 153, 204, 0.6);
     text-align: center;
    padding: 2px;
     justify-content: right;
     align-items: center;
     margin: 25px;
}

.pagar h3{
    align-items: center;
    transition: all 1s;
    
}

.pagar h3:hover{

    transform:scale(1.1);
}

.container__5{
    font-family:'Raleway', sans-serif;
    font-size: 12px;
    color: #36465d;
    display: flex;
    width: 100%;
    padding:15px;
    background-color:rgb(228, 213, 185,0.3);
    
}

.container__5 h3{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:5px;
    background:#E4D5B9;
    text-align: center;
    transition: all 1s;
  
  
}
.seguir__comprando{
    color: #36465d;
     display: flex;
     padding:0px 10px;
     background:#E4D5B9;
     margin: 20px;
     text-align: center;
     border:solid 1px #E97E5A;
     
 }
 
.vaciar__carrito{
     font-family:'Raleway', sans-serif;
     color: #36465d;
     display: flex;
     padding:0px 10px;
     background:#E4D5B9;
     margin: 20px;
     text-align: center;
     border:solid 1px #E97E5A;
     
 }
.container__5 h3:hover{

    transform: scale(1.1);
}





/* ================================= 
  Media Queries
==================================== */
@media(min-width:600px){
    

    .detalle__compra{
        display: flex;
    }
            
    .detalle__pago{
        display: flex;
    }


.titulo_producto{
    display: flex;
    flex-wrap: wrap;
  
}

.detalle_producto{
    display: flex;
    flex-wrap: wrap;
   
    
}

.seguir__comprando{
    display: flex;
    flex-wrap: wrap;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
  
}

.precio{
    display: flex;
    flex-wrap: wrap;
 
}
.cantidad{
    display: flex;
    flex-wrap: wrap;
   
}
.subtotal{
    display: flex;
    flex-wrap: wrap;
    
}

.container__2{
    display: flex;

}


.resumen_del_pago{
    display: flex;
}
.container__2{
    border-bottom: solid 1px #E4D5B9;
}
.descripcion{
    border-bottom: none;
}
.precio{
    border-bottom: none;
}
.cantidad{
border-bottom: none;
}
.subtotal{
border-bottom: none;
}
.medios__pago{
    display: flex;
    flex-wrap: wrap;
}

    .pagar h3{
        align-items: center;
        margin-top: 10px;
        padding: 10px;
    }

    .transferencia{
        padding-top: 20px;
    }
    .transferencia p{
        align-items: center;
        margin: 14px;
    }
    .medios__pago{
        justify-content: space-between;
    }

   


  
}
}
@media (min-width: 1025px) {
	

    .transferencia p{
        align-items: center;
        margin: 22px;
    }

    .container__2{
        border-bottom: solid 1px #E4D5B9;
    }
    .descripcion{
        border-bottom: none;
    }
    .precio{
        border-bottom: none;
    }
  .cantidad{
    border-bottom: none;
}
.subtotal{
    border-bottom: none;
}
}
    