*{
    box-sizing: border-box;
}


.header__container{
    display: flexbox;
    
   
}

.menu_2{
   
    justify-content: left;

    

}
.menu_2 a{
    font-family:'Raleway', sans-serif;
    color: #36465d;
   font-size: 22px;
   display: inline;
   padding: 3px;
   margin-left: 25px;
   align-content: right;
   transition: all 1s;

}
.body{
    display: flex;
    width: 300px;
   
}
.body__container{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
}
.Logo{
    width: 100%;
}
.inicio__registro{
    display: flex;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    align-items: center;
    
}
.carrito a{
    display: flex;
    
    
}
.container__1{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px #E4D5B9;
    padding: 0 10px;
    background-color:rgb(228, 213, 185,0.3);

}
.container__2{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding: 0 10px;
    background-color:rgb(228, 213, 185,0.3);
    justify-content: space-between;
}

.container__3{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    display: flex;
    width: 100%;
    padding: 0 10px;
    background-color:rgb(228, 213, 185,0.3);
    
}
.detalle__compra{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    width: 80%;
    padding: 0 10px;
    
}
.detalle__pago{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    width: 20%;
    padding: 0 10px;
    align-items: center;
   
}

.menu_2 a:hover{
    background:#E4D5B9;
    transform: scale(1.1);
    border:1px solid #E97E5A ;
}

  
.titulo_producto{
 
    font-family:'Raleway', sans-serif;
    color: #3f88a2;

}

.detalle_producto{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    margin: 6px;
    text-align: center;
    border-bottom: solid 1px #E4D5B9;
}

.seguir__comprando{
    
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    background:#E4D5B9;
    margin: 20px;
    text-align: center;
    border:solid 1px #E97E5A;
    
}

.eliminar{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    background:#E4D5B9;
    margin: 20px;
    text-align: center;
    border:solid 1px #E97E5A;
    
}

.descripcion{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    margin: 6px;
    text-align: center;
    border-bottom: solid 1px #E4D5B9;
    

}
.precio{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    margin: 6px;
    text-align: center;
    border-bottom: solid 1px #E4D5B9;
}
.cantidad{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    margin: 6px;
    text-align: center;
    border-bottom: solid 1px #E4D5B9;

  
}
.subtotal{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    margin: 6px;
    text-align: center;
    border-bottom: solid 1px #E4D5B9;
   
    
}
   
.container__1 h1{
    display: flex;
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    color: #36465d;
}
    
.container__1 a{
    display: flex;
    font-family:'Raleway', sans-serif;
    color: #36465d;
}
    
.container__3 h1{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:0px 10px;
    background:#E4D5B9;
    margin: 20px;
    text-align: center;
    border:solid 1px #E97E5A;
    transition: all 1s;
   display: inline;
  
}

.container__3 h1:hover{

    transform: scale(1.1);
}





/*condiciones para desktop*/
@media(min-width:460px){

    .detalle__compra{
        display: flex;
    }
            
    .detalle__pago{
        display: flex;
    }


.titulo_producto{
    display: flex;
    flex-wrap: wrap;
  
}

.detalle_producto{
    display: flex;
    flex-wrap: wrap;
    
}

.seguir__comprando{
    display: flex;
    flex-wrap: wrap;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    display: flex;
    flex-wrap: wrap;
}
.cantidad{
    display: flex;
    flex-wrap: wrap;
}
.cantidad{
    display: flex;
    flex-wrap: wrap;
}

.container__2{
    display: flex;
}

.menu_2{
   
    justify-content: center;
    display: flex;

}
}