/**{
    box-sizing: border-box;
}*/
*{padding:0px;
}
*{margin:0px;
}

/**{
    border:1px solid orangered !important;
}*/

.formulario__registro{
    margin: 15px;
    font-family:'Raleway', sans-serif;
    color: #36465d;
    /*background-color:rgb(228, 213, 185,0.3);*/
}
.grid__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}
.container__titulo{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}
.descripcion__formulario{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}

.formulario__registro{
    margin: 20px;
}
.datos p{
    margin: 10px;
}
.imagen__boton{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
}

.boton__registrarme{
    color: #36465d;
    background:rgb(51, 153, 204, 0.6);
    margin: 20px;
    text-align: center;
    border:solid 1px #36465d;
    font-size: 20px;

}
.register__image{
    align-items: center;
    justify-content: center;
    align-self: center;

   
}

.boton__registrarme:hover{
    transform: scale(1.1);
}

.g-recaptcha{
    margin: 20px;

}

@media (min-width: 1025px){
.grid__container{   
    grid-template-columns: 1fr 1fr;
height: 400;

}
}
