* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red !important; */
    font-family:'Raleway', sans-serif;
}

.footerContainer {
    background-image: url("/images/fondo-footer.png");
    background-size: cover;
    display: block;
    width: 100%;
    text-align: center;
}

.topButton {
    width: 100%;
    color: #3f88a2;
    height: 50px;
    border-bottom: 1px solid #E97E5A;
}

.topButton h5 {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.footerMenu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 15px;
}

.footerTitle {
    font-weight: bold;
    ;
}

.socialMedia {
    width: 25%;
    text-transform: capitalize;
    color: #36465D;
}

.footerMenu a {
    text-decoration: none;
    width: 100%;
    color: #36465D;
}

.aboutUs {
    width: 25%;
    text-transform: capitalize;
    list-style-type: none;
    color: #36465D;
}

.aboutUs li {
    width: 100%;
    padding: 2px;
    color: #36465D;
}

.ayudaFooter {
    width: 25%;
    text-transform: capitalize;
    list-style-type: none;
    color: #36465D;
}

.ayudaFooter li {
    width: 100%;
    padding: 2px;
    color: #36465D;
}

.pagosFooter {
    width: 25%;
    text-transform: capitalize;
}

.mediosPago {
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.mediosPago img{
    display: flex;
    margin: 10px 0px 10px 45px;
}

.mediosEnvio{    
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.mediosEnvio img{
    display: flex;
    margin: 10px 0px 10px 40px;
    width: 60%;
}


@media(max-width:600px){


.mediosPago img{
    display: flex;
    margin: 1px 0px 10px 30px;
    width: 60%;
}

.footerContainer{
    padding: 10px;
}

}

@media (min-width: 375px) {
    .footerContainer{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .footerContainer{
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .footerContainer{
        width: 100%;
    }
}
