* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
.header {
    display: flex;
    border:1px solid white;
    background-color: #E4D5B9;
    padding-top: 2px;
	padding-bottom: 2px;
    font-family:'Raleway', sans-serif;
    color: #36465d;
    flex-wrap: wrap;
    border-radius: 2px;
    font-weight: bolder;
    height: auto; 
    width:100%;
}

.logo {
    width: 100%; 
    display: flex;
    margin-top: -2px;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    
}
.imagenLogo {
    width: 90%;
    background-color: whitesmoke; 
    border-radius: 5%;
}
.main-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    text-align: center; 
    
}

.liMenu1{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 40px; 
    
}
.liMenu2{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 40px; 
    
}
.liMenu1 a:hover,.liMenu2 a:hover {
    background-color: #E4D5B9;
}

.liMenu1 a, .liMenu2 a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-size: 20px;
    -moz-user-select: none; 
}
.main-content{
    display: flex;
    flex-direction: wrap;
    width: 40%;
    flex-direction: row;
    box-sizing: border-box;
   
}
.a , .b {
    box-shadow: 5px 8px 8px #888888;
}
@media (max-width:768px){
    .header {
        font-size: 13px;
        width:100%;
       
    }
    .imagenLogo {
        margin: auto;
    }
    .liMenu {
        width: 100%;
        text-align: center;
        padding: 5px;
        color: blue;
        display: flex;
        flex-wrap: wrap;
        height: 5vh;
    }
    .liMenu{
        padding: 0;
    }
    .main.nav {
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
        border-radius: 5px;

    }
    .main-content, .login-content {
        width: 50%;
        flex-direction: column;
    }
    .a , .b{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        text-align: -webkit-center;
        color: rgb(31, 31, 110);  
        background: transparent; 
        text-align: center;
        border: solid 2px whitesmoke;  
        font-size: 16px;
        justify-items: center;
        border-radius: 5px;
        box-shadow: yellowgreen;
    }
    .liMenu1{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        height: 50px; 
        
    }
}
@media (min-width:481px) {
    .liMenu {
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 15px;
        
    }
}
@media (min-width:768px) {
    .header{
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 18px;
        
        
    }
    .a, .b {
        width: 50%;
        
        
    }
}
@media (min-width:1024px){

    .header{
        flex-direction: row;
        background-image: url("/images/base-para-banner_02.jpg");
        background-size:cover;
        height: 25vh;
        font-size: 18px;
        width: 100%;
        padding: 0%;
    }
    .logo {
        width: 40%; 
        display: flex;
        margin-top: -2px;
        align-items:  left;
        height: 23vh; 
        background-color: transparent;
    }
    .main-nav{
        width: 60%;
        height: 25vh;
        flex-direction: row;
        color: white;
        height: 25vh;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;

    }
    .nav-bar {
        order: 0;
        width: 25%;
        height: 100;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .main-content .liMenu1{
        width: 100%;
        margin: 5px;
        font-weight: bold;
        font-size: 20px;
        margin: auto;
    }
    .login-content{
        display: flex;
        flex-wrap: wrap;
        width: 60%;;
    }
    .login-content .liMenu1{
        width: 32%;
        height: 5vh; 
        padding: 0px; 
        background-color:transparent; 
        font-size: 20px;
        margin: auto;
        align-items: center;
    }
    .a {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        text-align: -webkit-center;
        color: white; 
        background: transparent; 
        text-align: center;
        border: solid 1px white; 
        font-size: 16px;
        justify-items: center;
        border-radius: 5px;
    }
    .b {
        display: flex;
        flex-direction:row; 
        margin: auto;
        width: 96%;
        color: white; 
        background: transparent; 
        text-align: center;
        border: solid 1px white; 
        font-size: 16px;
        justify-items: center;
        border-radius: 5px;
    }
    .a , .b {
        box-shadow: 5px 8px 8px #642e2e;
    }
}