* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
.header {
    display: flex;
    border:1px solid #E97E5A;
    background-color: #E4D5B9;
    padding-top: 2px;
	padding-bottom: 2px;
    font-family:'Raleway', sans-serif;
    color: #36465d;
    flex-wrap: wrap;
    border-radius: 2px;
    font-weight: bolder;
    height: auto; 
}

.logo {
    width: 100%; 
    display: flex;
    margin-top: -2px;
    background-color:white;
    padding: 10px;
}
.imagenLogo {
    width: 100%;
    background-color: whitesmoke; 
    border-radius: 5%;
}
.main-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    text-align: center; 
}

.liMenu1{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 40px; 
    
}
.liMenu2{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 40px; 
    
}
.liMenu1 a:hover,.liMenu2 a:hover {
    background-color: #E4D5B9;
}

.liMenu1 a, .liMenu2 a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-size: 20px;
    -moz-user-select: none; 
}
.login-content, .main-content{
    display: flex;
    flex-direction: wrap;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
   
}
@media (min-width:320px){
    .header {
        font-size: 13px;
    }
    .liMenu {
        width: 100%;
        text-align: center;
        padding: 5px;
        color: blue;
        display: flex;
        flex-wrap: wrap;
        height: 5vh;
    }
    .liMenu{
        padding: 0;
    }
}
@media (min-width:481px) {
    .liMenu {
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 15px;
    }
}
@media (min-width:768px) {
    .logo {
        height: 26vh;
    }
    .header{
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 18px;
    }
}
@media (min-width:1024px){

    .header{
        flex-direction: row;
        background-image: url("/images/base-para-banner_02.jpg");
        background-size:cover;
        height: 25vh;
        font-size: 18px;
        width: 100%;
        padding: 0%;
    }
    .logo {
        width: 40%; 
        display: flex;
        margin-top: -2px;
        align-items:  left;
        height: 23vh; 
        background-color: transparent;
    }
    .main-nav{
        width: 60%;
        height: 25vh;
        flex-direction: row;
        color: white;
        height: 25vh;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;

    }
    .nav-bar {
        order: 0;
        width: 25%;
        height: 100;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .login-bar {
        order: 1;
        width: 75%;
        height: 100;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        
    }
    .main-content .liMenu1{
        background-color: whitesmoke;
        width: 100%;
        margin: 5px;
        font-weight: bold;
        font-size: 20px;
        margin: auto;
    }
    .login-content{
        flex-direction: row;
    }
    .login-content .liMenu2{
        width: 30%;
        height: 5vh; 
        padding: 0px; 
        background-color:rgb(247, 189, 189) ; 
        text-align: center;
        font-size: 20px;
        margin: auto;
    }
    
}