* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
      width: 100%;
      font-family:'Raleway', sans-serif;
      color: #36465d;
      /*background-image: url("../images/fondo-footer.png");*/
      background-color:rgb(228, 213, 185,0.3);
  }
  
  .header {
      padding-top: 2px;
      padding-bottom: 2px;
      border:1px solid #E97E5A;
      /*border:1px solid rgb(51, 153, 204);*/
      /*background-color: rgb(51, 153, 204, 0.4);*/
      background-color: #E4D5B9;
      border-radius: 2px;
  }
  
  .logo {
   
    display: flex;
    margin-top: -2px;
    background-color:white;
    padding: 10px;
  
  }
  
  .main-nav {
      display: flex;
      flex-flow: column;
  }
  .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      transition: all 1s;
  }
  
  .main-content {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
  a {
      text-decoration: none;
  }
  
    @media (min-width: 1024px)
    {
        .header {
            width: 1024px; 
            font-family:'Raleway', sans-serif;
            
            align-items: center;
        }
    }