* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}


/*Banner Central*/ 

.products img{
	justify-content:center;
	align-content: center;
}
.containerIndex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family:'Raleway', sans-serif;
	color: #36465d;
	/*background-image: url("../images/fondo-footer.png");*/

}
.bannerOfertas {
	display: none;
}

.productosRelacionados {
	display: flex;
	flex-flow: row wrap;
}

.productosRelacionados img {
	width: 100%;
}

.bannerSecciones{
	display: flex;
	flex-flow: row wrap;
}

.bannerSecciones img {
	width: 100%;
}

.bannerAyuda {
	display: none;
}

.cajaAyuda {
	display: none;
}

.marcasReconocidas,.ulMarcas {
	display: flex;
	flex-wrap: wrap;

}

.marcasReconocidas img {
	width: 100%;

}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 600px) {
	
	.bannerCentral {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		justify-content: space-around;
	}
	
	.productosRelacionados, .bannerSecciones {
		display: flex;
		flex-wrap: wrap;
		width: 48%;
		background-color: white;
		border: 1px solid whitesmoke; 
		box-shadow: 5px 8px 8px #642e2e;
		
		
	}
	.bannerCentral{
		background-color: whitesmoke;
	}
	
	.productosRelacionados img {
		width: 100%;
	}
	.productosRelacionados a,.bannerSecciones a, .bannerAyuda a,.marcasReconocidas a {
		text-decoration: none;
			/*background-color: rgb(234, 245, 244); */
			display: flex;
			flex-wrap: wrap;
			text-align: center;
	}
	.productosRelacionados h2, .bannerSecciones h2, .bannerAyuda h2,.marcasReconocidas h2,.ulMarcas {
		text-align: center;
		text-decoration: none;
		margin: auto;
		background-color: white;
		width: 100%;
	}
	.bannerAyuda {
		margin-top: 10px;
	}
	.cajaAyuda{
		margin: 0;
	}
	.marcasReconocidas {
		display: flex;
		flex-wrap: wrap;
	}
	
}


/*@media (min-width: 1025px) {
	.header {
		display: flex; 
		background-image: url("../images/fondo-header.png");
		background-size: cover;
	}

	.logo {
		
		display: flex;
		margin-top: -2px;
		align-self: flex-start;
		background-color: transparent;
		
	}

	.header img {
		width: 50%
	}

	.main-nav {
		display: flex-start;
		align-self: flex-start;
		flex-direction: row;
		order: 0;
		margin-bottom: 10px;
		display: inline-flex;
		margin-left: 100px;
	}

	.main-content {
		display: flex;
	}
	
	.login-bar {
		display: flex;
		flex-direction: row;
		order: 1;
	}
	
	.login-content {
		display: flex;
	}
*/
	

	.bannerOfertas {
		display: flex;
		margin: auto; 
		width: 100%;
		flex-direction: column;
		height: 400px;
	}

	.bannerOfertas h2 {
		width: 100%;
		height: 10%;
		position: relative;
		animation-name: ofertas;
		animation-duration: 2.7s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		text-decoration: underline;
		}
		  
		@keyframes example {
		0%   {left:0px; top:0px;}
		25%  {left:200px; top:0px;}
		50%  {left:200px; top:0px;}
		75%  {left:0px; top:0px;}
		100% {left:0px; top:0px;}
		}

	.bannerOfertas img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.bannerAyuda {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 15px;
	}
	
	.cajaAyuda {
		display: flex;
		justify-content: space-evenly;
		background-color: white;
		margin-bottom: 15px;
	}

	.cajaAyuda img {
		display:flex;
		width: 15%;
	}
	
	.marcasReconocidas {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid #36465d;
	}

	.cajaMarcas {
		list-style: none;
	}

	.ulMarcas { 
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.ilMarcas {
		display: flex;
		justify-content: space-evenly;
		width: 15%;
		height: 120px;
		margin: auto;
	}

	.cajaMarcas img {
		object-fit: none;
	}
	.footerContainer{
		display: flex;
		flex-wrap: wrap;
	}
	
	@media (max-width: 425px) {
		
		.containerIndex {
			background-color: #E4D5B9;
		}

		.productosRelacionados, .bannerSecciones , .bannerAyuda, .cajaAyuda,.marcasReconocidas,.cajaMarcas,.ulMarcas{
			width:100%;
			display:flex; 
			flex-wrap: wrap;
		}
		.productosRelacionados a,.bannerSecciones a {
			text-decoration: none;
			background-color: rgb(234, 245, 244); 
			display: flex;
			flex-wrap: wrap;
			text-align: center;
		}
		.productosRelacionados, .bannerSecciones{
			border: 1px solid rgb(202, 200, 200);
			
		}
		.productosRelacionados img, .bannerSecciones img {
			width: 240px;
			margin: auto;
			border-radius: 50%;
			
		}
		.productosRelacionados h2, .bannerSecciones h2, .bannerAyuda h2,.marcasReconocidas h2,.ulMarcas {
			text-align: center;
			text-decoration: none;
			margin: auto;
			background-color: white;
			width: 100%;
		}
		.cajaAyuda img {
			width: 30%;
		}
		.bannerAyuda,.cajaAyuda{
			margin: 0;
		}
		.marcasReconocidas {
			display: flex;
			flex-wrap: wrap;
		}
		.ulMarcas li {
			width: 50%;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
	}
		.marcasReconocidas img,.ilMarcas {
			width: 80%;
			margin: 5px;
			height: 20vh;
		}
		}
	