*{
    box-sizing: border-box;
}
*{padding:0px;
}
*{margin:0px;
}

/**{
    border:1px solid orangered !important;
}*/
.container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}
.container_0,.container_1,.container_2,.container_3,.container_4,.container_5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.container_2 .detalle__compra .cantidad{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    
}
.cantidad_compra{
    width: 50%;
}
.container_3 .codigo__promocion{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    
}    
.codigo_promocion input{
    width: 50%;
}

.logo {
 
    display: flex;
    margin-top: -2px;
    background-color:white;
    padding: 10px;
  
  }
.opciones__entrega{
    font-family:'Raleway', sans-serif;
    color: #E97E5A;
    font-size: 25px;
    width: 100%;
    margin: 10px;
    padding:  0 15px;
}
.container__1{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px #E4D5B9;
    padding: 15px;
    background-color:rgb(228, 213, 185,0.3);

}

.container__1 h1{
    display: flex;
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    color: #36465d;
}
.detalle__compra{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    margin-bottom: 20px;
    padding: 0 10px;
    
}    
.container__1 a{
    display: flex;
    font-family:'Raleway', sans-serif;
    color: #36465d;
}
.container__2{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    justify-content: space-between;
}

.detalle_producto{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;

}
.descripcion{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;
    justify-content: space-between;
}
.descripcion p{
    display: flex;
    padding:0px 10px;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    align-items: center;

}
.precio{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    border-bottom: solid 1px #E4D5B9;
    justify-content: space-between;
}
.precio p{
   
    align-self: center;
    text-align: center;

}
.cantidad{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
}

.cantidad input,.codigo__promocion input{
    
    align-self: center;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;

}
.subtotal{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
}

.total{
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    color: #36465d;
    display: flex;
    padding:10px;
    margin: 6px;
    justify-content: space-between;
    border-bottom: solid 1px #E4D5B9;
    align-items: center;

}
.total p{
        color:#3f88a2;
        font-weight: bold;
        background-color:  rgb(255, 255, 255,0.6);
        
}
.subtotal p{
  
    align-self: center;
}

.detalle__pago{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    width: 20%;
    padding: 0 10px;
    align-items: center;
   
}

.menu_2 a:hover{
    background:#E4D5B9;
    transform: scale(1.1);
    border:1px solid #E97E5A ;
}
 
.detalle__Producto img{
    width: 100%;
}

.container__3{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    justify-content: space-between;
   
}
.container__3 h2{
    padding: 0 10px;
}  
.container__3 h3{
    padding: 0 10px;
    display: flexbox;
    font-weight: lighter;
}    

.resumen_de_pago{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container__4{
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    width: 100%;
    padding:15px;
    
}
.container__4 h2{
    padding: 0 10px;
}
.container__4 p{
     padding:0px 10px;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: #36465d;
    font-weight: bold; 
}
.transferencia{

 padding-top: 10px;
    align-items: center;
}
.mercado__pago{
    display: flex;
    align-items: center;
}

.pagar{
    color: #36465d;
    padding:0px 10px;
    text-align: center;
    padding: 2px;
     justify-content: right;
     align-items: center;
     margin: 25px;
     font-size: 20px;
     
}
.pagar button{
     background: rgb(51, 153, 204, 0.4);
     border-radius: 5px;
     font-size: 16px;
     padding: 5px;
     margin: 20px;
     transition: all 1s;
}

.pagar button:hover{
    transform: scale(1.1);
    background-color: rgb(51, 153, 204);
 }

.container__5{
    font-family:'Raleway', sans-serif;
    color: #36465d;
    display: flex;
    width: 100%;
    padding:15px;
}

.container__5 button{
    font-family:'Raleway', sans-serif;
     color: #36465d;
     display: flex;
     background:rgb(228, 213, 185,0.3);
     margin: 20px;
     border-radius: 5px;
     font-size: 16px;
     padding: 5px;
     transition: all 1s;
     align-self: center;
     
 }


 .container__5 button:hover{
    transform: scale(1.1);
    background-color:rgb(228, 213, 185);
 }
 
/* ================================= 
  Media Queries
==================================== */
@media(min-width:600px){
    

.detalle__compra{
     display: flex;
}
            
.detalle__pago{
     display: flex;
}

.titulo_producto{
    display: flex;
    flex-wrap: wrap;
}

.detalle_producto{
    display: flex;
    flex-wrap: wrap;   
}

.seguir__comprando{
    display: flex;
    flex-wrap: wrap;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
  
}

.precio{
    display: flex;
    flex-wrap: wrap;
 
}
.cantidad{
    display: flex;
    flex-wrap: wrap;
   
}

.subtotal{
    display: flex;
    flex-wrap: wrap;
    
}

.container__2{
    display: flex;

}


.resumen_del_pago{
    display: flex;
}
.container__2{
    border-bottom: solid 1px #E4D5B9;
}
.descripcion{
    border-bottom: none;
}
.precio{
    border-bottom: none;
}
.cantidad{
border-bottom: none;
}
.subtotal{
border-bottom: none;
}
.medios__pago{
    display: flex;
    flex-wrap: wrap;
}

.pagar{
    align-items: center;
     padding: 10px;
     
}

.transferencia{
    padding-top: 20px;
}
.transferencia p{
    align-items: center;
    margin: 14px;
}
.medios__pago{
    justify-content: space-between;
}

@media (min-width: 1025px) {

    .logo {
		
		display: flex;
		margin-top: -2px;
		align-self: flex-start;
		background-color: transparent;
		
	}
	
.transferencia p{
    align-items: center;
    margin: 22px;
}

.container__2{
    border-bottom: solid 1px #E4D5B9;
}
.descripcion{
    border-bottom: none;
}
.precio{
    border-bottom: none;
}
.cantidad{
    border-bottom: none;
}
.subtotal{
    border-bottom: none;
}
}}