* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red !important; */
    font-family:'Raleway', sans-serif;
    
}

.preguntasContainer{
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d;
    background-color: rgb(255, 255, 255,0.6);
}

.titulo{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d;
    margin: 30px;
}

.pregunta{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    white-space: justify; 
    font-size: 3.5vh;
   

}
h3{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d; 
    
}

.pregunta{
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    font-size: 3.5vh;
}
