* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
  font-family: 'raleway',"sanz-serif"; 
  color: #36465d;
}
.body{
  background-color:rgb(228, 213, 185,0.3); 
}
.contenedorPrincipalSuperior {
  display: flex;
  flex-wrap: wrap;
  background-color: #E4D5B9; 
  padding: 10px;
  width: 95%;
  height: 100vh; 
  margin: auto;
  flex-direction: row;  
  box-sizing: border-box; 
}

/*contendor Lateral Izquierdo*/

.contenedorLateralIzquierdo {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box; 
  height: 96vh;
}
.contenedorImagenPrincipal {
 background-color: white;
 width: 100%;
 margin: 10px; 
 box-sizing: border-box; 
 padding-top: 10px;
}
#imagenPrincipal{
  display: block;
  margin: auto; 
}
.contenedorImagenesSecundarias {
  background-color: #E4D5B9; 
  width: 100%;
  box-sizing: border-box; 
  padding: 10px;

}
#imagenSecundaria {
  width: 21.1%;
  height: 20vh;
  margin: 10px;
  margin-top: 20px;
}

/*contendorLateralDerecho*/

.contenedorLateralDerecho {
  background-color:whitesmoke;  
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box; 
  height: 96vh;
  
}
#nombreProducto{
  background-color: blanchedalmond;
  width: 100%;
  height: 10vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; 
  margin: 10px;
}
.h1 {
  font-size: 2.5em;
  background-color:white; 
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.contenedorPrecio{
  background-color: rgb(228, 213, 185,0.3);
  width: 100%;
  height: 20vh;
  flex-wrap: wrap;
  box-sizing: border-box; 
}

/*Estrellas CSS*/

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}
label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label {
  color: grey;
  font-size: 2em;
  padding: 0px;
  margin: auto;
}
.label1:hover,
.label1:hover ~ label {
color: orange;
}

/*Final estrellas CSS*/

#variacionesProducto{
  background-color:rgb(228, 213, 185,0.3);
  width: 100%;
  height: 15vh; 
  flex-wrap: wrap;
  box-sizing: border-box; 
  margin: 10px;
  padding-left:80px; 

}
.desplegable {
  font-size: 1.5em

}

.botones{
  font-size: 2.5em;
  background-color:pink; 
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  margin: 10px;

}
.contenedorLateralIzquierdo2 {
  width: 50%;
  background-color: white;
  height: 50vh;
  border: pink solid 3px;
}
.contenedorLateralDerecho2 {
  width: 50%;
  background-color: white;
  height: 50vh;
  border: pink solid 3px;

}
.contenedorSimilares{
  background-color: whitesmoke;
  width: 100%;
  height: 45vh;

}
/*Footer*/
.footerContainer {
  background-image: url("../images/fondo-footer.png");
  background-size: cover;
  display: block;
  width: 100%;
  text-align: center;
}

.topButton {
  width: 100%;
  color: #801111;
  height: 50px;
  border-bottom: 1px solid #BB9A9A;
}

.topButton h5 {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.footerMenu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 15px;
}

.socialMedia {
  width: 25%;
  text-transform: capitalize;
  color: #801111;
}

.footerMenu a {
  text-decoration: none;
  width: 100%;
  color: #801111;
}

.aboutUs {
  width: 25%;
  text-transform: capitalize;
  list-style-type: none;
  color: #801111;
}

.aboutUs li {
  width: 100%;
  padding: 2px;
  color: #801111;
}

.ayudaFooter {
  width: 25%;
  text-transform: capitalize;
  list-style-type: none;
  color: #801111;
}

.ayudaFooter li {
  width: 100%;
  padding: 2px;
  color: #801111;
}

.pagosFooter {
  width: 25%;
  text-transform: capitalize;
}

.mediosPago {
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.mediosPago img{
  display: flex;
  margin: 10px 0px 10px 45px;
}

.mediosEnvio{    
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.mediosEnvio img{
  display: flex;
  margin: 10px 0px 10px 108px;
}

/*Copia de index.css*/
* {
  box-sizing: border-box;
}

.container {
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d;
}

.header {
	padding-top: 2px;
	padding-bottom: 2px;
	border:1px solid #E97E5A;
	background-color: #E4D5B9;
	border-radius: 2px;
}

.logo {
  width: 100%;
  display: flex;
  background-color: white;
  margin-top: -2px;
}

.main-nav {
	display: flex;
	flex-flow: column;
}
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	transition: all 1s;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  a {
	  text-decoration: none;
  }

ul li {
	border-top:1px solid #E97E5A;
}

.nav-bar {
	order: 0;
}

.login-bar {
	order: -1;
}

.bannerOfertas {
	display: none;
}

.productosRelacionados {
	display: flex;
	flex-flow: row wrap;
}

.productosRelacionados img {
	width: 100%;
}

.bannerSecciones{
	display: flex;
	flex-flow: row wrap;
}

.bannerSecciones img {
	width: 100%;
}

.bannerAyuda {
	display: flex;
	flex-flow: row wrap;
}

.bannerAyuda img {
	width: 100%;
}

.marcasReconocidas {
	display: flex;
	flex-flow: row wrap;
}

.marcasReconocidas img {
	width: 100%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 600px) {
  
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.main-nav {
		display: flex;
	}
	
	.bannerCentral {
		display: flex;
		flex-flow: row wrap;
		width: 100%
	}
	
	.productosRelacionados {
		width: 40%;
		margin: auto;
	}
	
	.productosRelacionados img {
		width: 100%;
	}
	
	.bannerSecciones{
		width: 40%;
	}
	
	.bannerSecciones img {
		width: 100%;
	}
	
}

@media (min-width: 1025px) {
	.header {
		display: flex; 
		background-image: url("../images/fondo-header.png");
		background-size: cover;
	}

	.logo {
		width: 100%;
		display: flex;
		background-color:transparent;
		margin-top: -2px;
	  }

	.header img {
		width: 50%
	}

	.main-nav {
		display: flex;
		flex-direction: row;
		order: 0;
	}

	.main-content {
		display: flex;
	}
	
	.login-bar {
		display: flex;
		flex-direction: row;
		order: 1;
	}
	
	.login-content {
		display: flex;;
	}

	.main-nav a:hover {
		background:#EEC59A;
		transform: scale(1.1);
		border:1px solid #E4D5B9;
	}

	.bannerOfertas {
		display: flex;
		margin: auto; 
		width: 100%;
		flex-direction: column;
	}

	.bannerOfertas h2 {
			width: 100%;
			height: 10%;
			position: relative;
			animation-name: ofertas;
			animation-duration: 2.7s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			text-decoration: underline;
		}
		  
		  @keyframes example {
			0%   {left:0px; top:0px;}
			25%  {left:200px; top:0px;}
			50%  {left:200px; top:0px;}
			75%  {left:0px; top:0px;}
			100% {left:0px; top:0px;}
		  }
	}
	
	.bannerOfertas img {
		width: 100%;
	}
}


















   

    






    
