* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red !important; */
    font-family:'Raleway', sans-serif;
    
}

.quienesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d;    
    background-color: rgb(255, 255, 255,0.6);
}

.titulo{
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family:'Raleway', sans-serif;
    color: #36465d; 
    padding: 25px;
}

.pregunta{
    padding: 15px;
    flex-wrap: wrap;
    width: 100%;
}
.principal {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    text-align: justify;
    font-size: 3.5vh;
}
