/**{
    box-sizing: border-box;
}*/
*{padding:0px;
}
*{margin:0px;
}

/**{
    border:1px solid orangered !important;
}*/

.formulario__registro{
    padding: 15px;
    font-family:'Raleway', sans-serif;
    color: #36465d;
    background-color:rgb(228, 213, 185,0.3);
}
.grid__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}
.container__titulo{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}
.container__titulo h2{
    font-size: 30px;
}
.descripcion__formulario{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 15px;
   
}
.descripcion__formulario h3{
    font-size: 25px;
}


.datos p{
    margin:10px 0px;
    font-size: 15px;
}
.datos input{
    border-radius: 5px;
    padding: 2px;
}
.imagen{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.checkbox__terminos__input{
    margin-top: 30px;
    font-size: 20px;
}
.checkbox__newsletter{
    font-size: 20px;
    
}
.registrarme{
    margin: 40px;
    text-align: center;
    justify-items: center;
}
.boton__registrarme{
    color: #36465d;
    background:rgb(51, 153, 204, 0.6);
    text-align: center;
    border:solid 1px #36465d;
    font-size: 16px;
    justify-items: center;
    border-radius: 5px;
    

}
.register__image{
    align-items: center;

   

   
}

.boton__registrarme:hover{
    transform: scale(1.1);
}

.g-recaptcha{
    margin: 20px;

}
.registrarme{
    font-size: 30px;
  

}

@media (min-width: 1025px){
.grid__container{   
    grid-template-columns: 1fr 1fr;
height: 400;

}
}
