<!DOCTYPE html>
<html lang="en">
    <!-- Include Head -->
<%- include('partials/headRegistro', {title: 'Registrate!'}) %>
<body>
	<!-- Header -->
	<%- include('partials/Header') %>
  <!-- /Header -->
    <!-- Main div del sitio. -->
    <div class="container">

        <!--formulario de registro-->
  <section class=formulario__registro>  
    <div class="formulario">
       <div class="container__titulo">
         <p>Registrate en nuestra Tienda!</p>
       </div>    
       
       <div class="descripcion__formulario">
         <p>Completá los siguientes datos para crear tu cuenta en nuestra Tienda de compra on line! </p>
       </div>
   </div>
    <section class="grid__container">
    

   <!--datos para registro-->
   <div class= "datos">  
          <form action="/" enctype="multipart/form-data" method="post" name="formulario__registro">

            <p>
               <label for="nombre">Nombre:</label><br>
              <Input id="nombre" type="text" name="nombre" maxlength="50" required>
            </p>
       
            <p>
               <label for="apellido">Apellido:</label><br>
              <Input id="apellido" type="text" name="apellido" maxlength="30" required>
              </p>
            
            <p>
               <label for="email">Email:</label><br>
              <Input id="email" type="email" name="email" maxlength="30" value="" required>
           </p>
          
           <p>
               <label for="contraseña">Contraseña:</label><br>
              <Input id="contraseña" type="password" name="contraseña" maxlength="30" required>
           <p>

            <p>
               <label for="contraseña">Repetir contraseña:</label><br>
               <Input id="repetir-contraseña" type="password" name="repetir__contraseña"  required>
            <p>
            
           
           <p>
              
              <h5 class="checkbox__terminos__input">He leído y acepto Los terminos y condiciones</h5>
              <input  type="checkbox" name="register__terminos" value="">
           </p>

           <p>
               <h5 class="checkbox__newsletter">Me gustaria recibir noticias sobre productos de LCS Supplies. </h5>
               <input  type="checkbox" name="newsletter" value="">
               
           </p>

           
         </form>
         
       

      
   <!--recaptcha-->

         <script src='https://www.google.com/recaptcha/api.js'></script>
      
   <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>
   <!--Botton Registrarme-->
<div class="registrarme">
   <button class="boton__registrarme" type= "submit" id= "registro" label= "Registrarme">
    <span class="registrarme" >Registrarme</span>
</button>
</div>
</div>
<!--Imagen LCS Supplies-->

<div class="imagen">

   <img class= "register__image" src="/images/imagen_register.png" alt="Imagen LCS Supplies" width="450px" heigth= "450px">

   
</div>
</section>
       
</section>

  
</section>      

  <!-- Footer del sitio-->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>
</html>