<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Windows -->
<meta name="MobileOptimized" content="320" />
<!-- Safari -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/login.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
</head>
<body class=bodyLogin>
   <a  class="logoLogin" href="/"><img src="/images/logo_nuevo.png" alt="logotipo"></a>
   <!-- loginData -->
   <section class=mainSectionLogin>
      <div class="mainboxLogin">
         <h2>Ingresa</h2>
         <form action='/users/userlogin' method="POST"> 
               <label for="email">Ingrese Email</label><br>
               <Input id="email" type="email" name="email"required class=inputLogin><br>
               <label for="password">Contraseña</label><br>
               <Input id="password" type="password" name="password" required class=inputLogin><br>
                  <div class="remember">
                     <label for="rememberMe">Recordarme?</label>
                     <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe">
                  </div>
               <input type="submit" value="Ingresar" class=buttonLogin><br>
               <h4>¿No tenés cuenta?<h3>
               <a href="/register.ejs">Registrate</a>
            

         </form>
      </div>
      
   </section>
   <footer class=footerLogin>
   <section class=footerSectionLogin>
      <ul class=listFooterLogin>
         <li class=linkFooterLogin>Terminos de uso</li>
         <li class=linkFooterLogin>Politica de privacidad</li>
         <li class=linkFooterLogin>Necesitas ayuda?</li>
      </ul>
   </section>
</footer>
</body>
</html>