<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Windows -->
<meta name="MobileOptimized" content="320" />
<!-- Safari -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/login.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
</head>
<body class=bodyLogin>
   <a  class="logoLogin" href="/"><img src="/images/logo_2.png" alt="logotipo"></a>
   <!-- loginData -->
   <section class=mainSectionLogin>
      <div class="mainboxLogin">
         <h2>Ingresa</h2>
         <form action='/'> 
               <label for="nombre">Ingrese su nombre de usuario</label><br>
               <Input id="nombre" type="text" name="nombre"required class=inputLogin><br>
               <label for="password">Contraseña</label><br>
               <Input id="password" type="password" name="password" required class=inputLogin><br>
               <input type="button" value="Ingresar" class=buttonLogin><br>
               <label for="rememberMe">Recordarme?</label>
               <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe">
         </form>
      </div>
   </section>
   <footer class=footerLogin>
   <section class=footerSectionLogin>
      <ul class=listFooterLogin>
         <li class=linkFooterLogin>Terminos de uso</li>
         <li class=linkFooterLogin>Politica de privacidad</li>
         <li class=linkFooterLogin>Necesitas ayuda?</li>
      </ul>
   </section>
</footer>
</body>
</html>