<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

    <footer class="footerContainer">
        <div >
            <div class=backToTop>
                <section class=topButton>
                        <h5><a href="#">Volver arriba</h5></a>
                </section>
        </div>
        <div class="footerMenu">
                <section class="titulosFooter">
                    <h4>seguinos!</h4>
                        <ul>
                            <li><a href="http://www.facebook.com/LCSRSupplies">Facebook</a></li>
                            <li><a href="http://www.instagram.com/LCSRSupplies">Instagram</a></li>
                            <li><a href="mailto:consultas@lcsrsupplies.com.ar?Subject=Tengo una consulta" target="_top">Email</a>
                        </ul>
                </section>
                <section class="titulosFooter">
                    <h4>Nosotros</h4>
                        
                            <a>Quienes somos</a>
                           
                        
                </section>
                <section class="titulosFooter">
                    <h4>Ayuda</h4>
                    
                            <a href="partials/preguntasFrecuentes">Preguntas frecuentes</a>
                            
                            
                            
                        
                </section>
                <section class="titulosFooter">
                    <article class="mediosPago">
                        <h4>Pagos</h4>
                            <img src="/images/logo-tarjetas.png" alt="logo-tarjetas">
                    </article>
                    <article class="mediosEnvio">
                        <h4>Envios</h4>
                            <img src="/images/envios.png" alt="envios" width=70%>
                    </article>
                </section>
            </div>
        </div>
    </footer>
</body>
</html>