<!-- Header del sitio -->
<header class="header">
    <a class="logo" href="/">
        <img class = 'imagenLogo'src="/images/logo_nuevo.png" alt="logotipo" >
    </a> 
   
    <section class="main-nav">
            <article class="nav-bar">
                <ul class="main-content">
                    <li class=liMenu><a href="#">artistica</a></li>
                    <li class=liMenu><a href="#">tecnico</a></li>
                    <!--<li class=liMenu><a href="#">decorativo</a></li>-->
                    <!--<li class=liMenu><a href="#">marcas</a></li>-->
                    <li class=liMenu><a href="mailto:consultas@lcsrsupplies.com.ar?Subject=Tengo una consulta" target="_top">contacto</a></li>
                </ul>
            </article>
            <article class="login-bar">
                <ul class=login-content>
                    <li class=liMenu><a href="/users/userlogin">Mi cuenta</a></li>
                    <li class=liMenu><a href="/products/myCart">mi carrito</a></li>
                </ul>
            </article>
        </section>
    
</header>