<!-- Header del sitio -->
<header class="header">
    <img class="logo" src="/images/logo_2.png" alt="logotipo" class="logo">
        <section class="main-nav">
            <article class="nav-bar">
                <ul class="main-content">
                    <li class=liMenu><a href="#">artistica</a></li>
                    <li class=liMenu><a href="#">tecnico</a></li>
                    <li class=liMenu><a href="#">decorativo</a></li>
                    <li class=liMenu><a href="#">marcas</a></li>
                    <li class=liMenu><a href="#">contacto</a></li>
                </ul>
            </article>
            <article class="login-bar">
                <ul class=login-content>
                    <li class=liMenu><a href="userLogin">ingresa</a></li>
                    <li class=liMenu><a href="register">registrate</a></li>
                    <li class=liMenu><a href="myCart">mi carrito</a></li>
                </ul>
            </article>
        </section>
</header>