<!-- Header del sitio -->
<header class="header">
    <a class="logo" href="/"><img src="/images/logo_nuevo.png" alt="logotipo"></a> 
        <section class="main-nav">
            <article class="nav-bar">
                <ul class="main-content">
                    <li class=liMenu><a href="#">artistica</a></li>
                    <li class=liMenu><a href="/productsRoutes/create">tecnico</a></li>
                    <li class=liMenu><a href="#">decorativo</a></li>
                    <li class=liMenu><a href="#">marcas</a></li>
                    <li class=liMenu><a href="#">contacto</a></li>
                </ul>
            </article>
            <article class="login-bar">
                <ul class=login-content>
                    <li class=liMenu><a href="/users/userlogin">mandalemecha</a></li>
                    <li class=liMenu><a href="/users/register">registrate</a></li>
                    <li class=liMenu><a href="/productsRoutes/myCart">mi carrito</a></li>
                </ul>
            </article>
        </section>
</header>