<!-- Header del sitio -->
<header class="header">
    <a class="logo" href="/">
        <img class = 'imagenLogo'src="/images/logo_nuevo.png" alt="logotipo" >
    </a> 
   
    <section class="main-nav">
                <ul class="main-content">
                    <li class=liMenu1><a href="/products/arte">Artistica</a></li>
                    <li class=liMenu1><a href="/products/tecnico">Tecnico</a></li>
                    <!--<li class=liMenu><a href="#">decorativo</a></li>-->
                    <!--<li class=liMenu><a href="#">marcas</a></li>-->
                    
                </ul>
                <ul class=login-content>
                    <li class=liMenu2><a href="/users/userlogin">Cuenta</a></li>
                    <li class=liMenu2><a href="/products/myCart">Carrito</a></li>
                    <li class=liMenu2><a href="mailto:consultas@lcsrsupplies.com.ar?Subject=Tengo una consulta" target="_top">Contacto</a></li>
                </ul>
        </section>
    
</header>