<head>
    <meta charset="UTF-8">
    <!-- Windows -->
    <meta name="MobileOptimized" content="320" />
    <!-- Safari -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/registro.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 

    <h2>PREGUNTAS FRECUENTES</h2>
 
    <h3>¿Cómo se realizan los envíos?</h3>
     
    <p>Para los envíos utilizamos Correo Argentino ó mensajería, dependiendo de tu localidad.</p>
      
    <h3>¿Cuál es el costo de envío?</h3>
     
    <p>Compras por $3000 o más: El costo de envío se bonifica y se envía por mensajería en CABA y por Correo Argentino al resto del Pais.
    Compras de montos inferiores dependerán de la localidad a ser enviadas.</p>
    
    <h3>¿Cuáles son los tiempos de entrega estimados?</h3>
     
    <p>Los palzos de entrega varian de acuerdo a la localidad a realizar la entrega, despachamos en un máximo de 48 horas, pero Correo Argentino puede demorar más de lo habitual por las actuales circunstancias  sanitarias. Los envios en moto se realizan unicamente en CABA, se entregan con un plazo máximo de 48 horas y son gratis a partir de los $ 3000.</p>
      
     
    <h3>¿Cómo hago   para pagar mi compra?</h3>
    <p>Podes abonar tu compra de dos maneras:</p>
    
     <li>de crédito: a través de Mercado Pago accediendo desde nuestro sitio.</li> 
    
    
    <li>Transferencia Bancaria: Una vez que te confirmamos que tu pedido está preparado te enviaremos los datos de la cuenta bancaria. Una vez realizada la transferencia, nos envias el comprobante de la misma junto al número de pedido a consultas@lcsrsupplies.com.ar.</li>
    


</head>