<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Windows -->
    <meta name="MobileOptimized" content="320" />
    <!-- Safari -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/quienesSomos.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="/images/logo_nuevo.ico">

<body>
	<!-- Header -->
    <%- include('partials/Header') %>
    <!-- /Header -->
<div class = quienesContainer>
    
    
    <h2 class="titulo">QUIENES SOMOS</h2>
    <p class="principal">
   En LCSR Supplies ofrecemos venta online de productos artísticos y escolares al por menor, con envío al comprador a través de mensajería o Correo Argentino, a todo el país.

    Los métodos de pago pueden ser tarjeta de crédito, débito o transferencias bancarias.

    Ofrecemos dos lineas de productos:
    Artistica y Técnica, en ambos casos tenemos las más reconocidas marcas disponibles para que elijas los mejores productos del mercado.</p>
</div>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>



</head>

